* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", "sans-serif";
}
.container {
  height: 100vh;
  padding: 0;
  padding-top: 20px;
  background: url("./images//bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

body {
  background-color: #0e6cff;
}
