.contact {
    margin: 0;
    padding: 0;
}

.contact h3 {
    margin: 5% 15% 0%;
}

.contact .line {
    margin: 0% 14% 5%;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 1px solid #f3f3f3;
    box-shadow: 3px 3px 10px #f3f3f3;
    margin: 0% 15% 5%;
}

.fields {
    width: 100%;
    padding: 5%;
}

.row1 {
    display: flex;
    margin-bottom: 2%;
    gap: 2%;
}

input,
textarea {
    padding: 2%;
    width: 100%;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    margin-top: 2%;
}

textarea {
    padding: 5%;
}

.btnorng {
    background-color: orange;
    padding: 2% 5%;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
    color: white;
}